body {
	background-color:#F6F6F6;
	background-size: 100% 675px;
	background-repeat: no-repeat;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font: normal 100%/1.4 sans-serif;
	background-image: url(../img/15.jpg);
}

#menu h1 {
	color: white;
	
}




#tecnica{
	margin-top: 3px;
}
#home {
	width: 100%;
	height: 105px;
	background-color:black;
	opacity: 0.8;
	}
	
#start {
	margin-top: 231px;
	margin-left:100px;
	width: 500px;
	height: 500px;
	border: solid black 1px;
	background-color: white;
}

#teoria{
	margin-top: 231px;
	margin-left:100px;
	width: 700px;
	height: 100px;
	border: solid black 1px;
	background-color: white;
	
}
#anuncio{
	padding:50px;
	margin-top:-99px;
	margin-left:800px;
	width: 100px;
	height: 500px;
	border: solid black 1px;
	background-color: white;
}
/*CELULAR E TABLET*/
@media screen and (min-width: 1px) and (max-width: 1024px) {
	p {
		color: red;
	}
	

	/****MENU*****/
	#flip h2:HOVER {
		background-color: black;
		color: white;
		width: 75px;
	}
	#flip h2 {
		color: black;
		margin-left: 75%;
	}
	#panel {
		padding: 5px;
		text-align: center;
		border: solid 1px #c3c3c3;
		padding: 28px;
		display: none;
		height: 157px;
	}
	#panel li {
		list-style-type: none;
		float: none;
		padding: 0px;
	}
	#panel li a {
		border-bottom: 2px solid black;
		text-decoration: none;
		display: inline-block;
		font-size: 18px;
		font-family: Helvetica;
	}
	#panel li a:hover {
		color: white;
		height: 27px;
		margin-top: -10px;
		background-color: black;
	}
	#panel ul li a {
		display: block;
		width: 100%;
		text-align: center;
		padding: 10px 0px 10px 0px;
		border-bottom: 1px solid #dedede;
		color: #333333;
	}
	#panel ul {
		margin-left: -67px;
		margin-right: -28px;
		margin-top: -30px;
	}

	/*oculta o menu*/
	#flip ul li {
		margin-top: -100px;
		float: left;
	}
} /*FINAL CELULAR E TABLET*/

/*TABLET*/
@media screen and (min-width: 481px) and (max-width: 1024px) {
	/*BANER*/
#imgDeskTop{
	background-size: 100%;
	height:500px;	
	margin-top: 20px;
	
	background-repeat: no-repeat;
}/*FINAL BANER*/
} /*FINAL TABLET*/

/*DESK TOP*/
@media
screen and (min-width:1025px) {

/***MENU DESKTOP**/

	/*BOX INDEX*/
	#box1{
	width: 333px;
	height: 220px;
	background-color:#e4e4e4;
	margin-top: -150px;
	padding: 5px;
	text-align:left;
	}
	#box2{
	width: 333px;
	height: 220px;
	background-color:#e4e4e4;
	margin-top: -230px;
	margin-left:39%;
	padding: 5px;
	text-align:left;}
	#box3{
	width: 333px;
	height: 220px;
	background-color:#e4e4e4;
	margin-top: -230px;
	margin-left:73.5%;
	padding: 5px;
	text-align:left;}
	/*FINAL BOX INDEX*/
/*BANER*/
#imgDeskTop{
	background-size: 100%;
	height:500px;	
	margin-top: 20px;
	background-image: url(../img/);
	background-repeat: no-repeat;
}


#txt {
	color: white;
	font-size:30px;
	width: 910px;
	height: 100px;
	background-color: black;
	opacity: 0.8;
	margin-left: 15%;
	margin-top: -350px;
}
#btn h3 {
	
	margin-top: 110px;
	margin-left: 48%;
	color: white;
}

#btn a {
	
	text-decoration:none
}

#btn2{
	width: 100px;
	height: 50px;	
	background-color: #5eadad;
	border-radius:5px;
	margin-top: -58px;
	margin-left: 47%;
	
}



/*FINAL BANER*/

@font-face {
	font-family: myFirstFont;
	src: url(sansation_light.woff);
}

#flip {
	width: 100%;
	height: 100px;	
}

#ulMenu {
	margin-right: -5px;
}

#abc {
	padding: 0;
	margin-left: -95px;
	margin-top: 10px;
	text-align: center;
	color: red;
	background-color: white;
	width: 90px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

#menu ul li {
	position: relative;
	list-style-type: none;
	float: right;
	padding: 10px;
	margin-top: -5px;
	/*border-right: solid 2px white;**/
	height: 41px;
}

#menu li ul {
	position: absolute;
	left: 100px;
	top: 30px;
	display: none;
	background: black;
}

#menu ul li a {
	text-decoration: none;
	color: white;
	padding: 5px;
	float: left;
	display: inline-block;
	font-size: 17px;
	font-family: Helvetica;
	text-align: center;
}

#menu li:hover ul {
	display: block;
}

#menu li a:hover {
	color:white;
	background-color:#5eadad;
	height: 45px;
	margin-top: -12px;
	height: 47px;
}

/*FIM MENU DESKTOP*/

/*OCULTA MENU*/
#panel {
	display: none;
	margin-top: -800px;
}

#a {
	margin-top: -50px;
}
/*FIM OCULTA MENU*/
} /*FINAL DESKTOP*/