
body {
	background-color:#eeeeee;
	background-size: 100% 675px;
	background-repeat: no-repeat;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font: normal 100%/1.4 sans-serif;
	background-image: url(../img/16.png);
}

section {
	margin-top:310px;
	width: 100%;
	height: 4000;
	background-color:eeeeee;
}

article   {
	width: 100%;
	height: 550px;
	background-color:white;
	margin-top: 5px;
	border-radius: 8px;
	text-align: justify;
	padding: 1px;
	color: #aaaaaa;

}

/*CELULAR*/
@media screen and (min-width: 1px) and (max-width: 1150px) {
	body {	
	background-image: url(../img/17.png);
}

/*CONTANT*/




/*FIM CONTANT*/
/*LOGO */
#logo h1 {
	margin-top: 5px;
	font-size: 25px;
	color: white;
}
#a {
	margin-top: -125px;
	color: white;
	
}
/*FIM LOGO*/
#txt h2 ,h3 {
	color:white;
	margin-top: 120px;
	margin-left: 70px;
	font-size: 30px;
	}

#txt h3 {
	font-size: 20px;
	margin-top: 90px;
	margin-left: 100px;
	}
	
	#txt a{
	color: white;
	text-decoration:none; 
	font-size: 25px;
	margin-left:-15px;
	}
/****MENU*****/
	
	#flip h2:HOVER {
		background-color:white;
		color:#660202;
		width: 75px;
	}
	#flip h2 {
		color:white;
		margin-left: 75%;
	}
	#panel {
		padding: 5px;
		text-align: center;
		border: solid 1px #c3c3c3;
		padding: 28px;
		display: none;
		height: 157px;
		background-color: #660202;
		opacity:0.8;
		
	}
	#panel li {
		list-style-type: none;
		float: none;
		padding: 0px;
	}
	#panel li a {
		border-bottom: 2px solid black;
		text-decoration: none;
		display: inline-block;
		font-size: 18px;
		font-family: Helvetica;
	}
	#panel li a:hover {
		color: white;
		height: 27px;
		margin-top: -10px;
		background-color: black;
	}
	#panel ul li a {
		display: block;
		width: 100%;
		text-align: center;
		padding: 10px 0px 10px 0px;
		border-bottom: 1px solid #dedede;
		color: #333333;
	}
	#panel ul {
		margin-left: -67px;
		margin-right: -28px;
		margin-top: -30px;
	}

	/*oculta o menu*/
	#flip ul li {
		margin-top: -300px;
		float: left;
	}
} 

/* TABLET*/

@media screen and (min-width: 481px) and (max-width: 1024px) {
	body {	
	background-image: url(../img/16.png);
}

#logo h1{
	color: black;
	margin-left:40%;
}
#txt h2{
	margin-left:19%;
	margin-top: 200px;
	color: white;
	
}
#txt a{
	margin-left:38%;
	margin-top: 200px;
	color: white;
	font-size: 20px;
	
}
#flip h2 {
		
		margin-left: 70%;
		margin-top:-30px;
	}
	#panel ul li a {
		
		width: 100%;
		}
		
		#panel {
		width: 350px;
		margin-left: 197px;
		}
}

/*DESKTOP*/
@media screen and (min-width: 1030px) and (max-width:1500px) {
	body {	
	background-image: url(../img/16.png);
}

	@font-face {
	font-family: myFirstFont;
	src: url(sansation_light.woff);
}
#txt a {
	color: white;
	text-decoration: none;
	margin-left: 550px;
}
#txt2 {
	margin-left:19%;
	margin-top:287px;
	color: white;
	font-size:295%;
	
}
/*LOGO*/
#logo h1 {
	margin-left:43%;
	margin-top: 10px;
	
}

/*FIM LOGO*/
/*MENU*/
#flip {
	width: 100%;
	height: 100px;	
}

#ulMenu {
	margin-right:290px;
}

#abc {
	padding: 0;
	margin-left: -95px;
	margin-top: 10px;
	text-align: center;
	color: red;
	background-color: white;
	width: 90px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

#menu ul li {
	position: relative;
	list-style-type: none;
	float: right;
	padding: 10px;
	margin-top: 180px;/*posição do menu*/
	/*border-right: solid 2px white;**/
	height: 41px;
}

#menu li ul {
	position: absolute;
	left: 100px;
	top: 30px;
	display: none;
	background: black;
}

#menu ul li a {
	text-decoration: none;
	color: white;
	padding: 5px;
	float: left;
	display: inline-block;
	font-size: 17px;
	font-family: Helvetica;
	text-align: center;
}

#menu li:hover ul {
	display: block;
}

#menu li a:hover {
	color:white;
	background-color:#5eadad;
	height: 45px;
	margin-top: -12px;
	height: 47px;
}

/*FIM MENU DESKTOP*/

/*OCULTA MENU*/
#panel {
	display: none;
	margin-top: -800px;
}

#a {
	margin-top: -300px;
}
/*FIM OCULTA MENU*/

	}


